---
layout: archive
---

{{ content }}
<h3 class="archive__subtitle">
  안녕하세요. 제 블로그를 방문해 주셔서 감사합니다.
</h3>

<div>
  제가 만든 서비스로 누군가의 불편함을 해소해 줄 수 있는 개발자가 되기 위해
  <br />
  오늘도 한걸음 내딛고 있습니다.
</div>
<br />
<div>
  🛠Tack Stack🛠 <br />
  <br />
  <img
    src="https://img.shields.io/badge/JavaScript-F7DF1E?style=flat&logo=javascript&logoColor=white"
  />
  &nbsp;
  <img
    src="https://img.shields.io/badge/Node.js-339933?style=flat&logo=Node.js&logoColor=white"
  />
  &nbsp;
  <img
    src="https://img.shields.io/badge/Express-lightgray?style=flat-square&logo=Express&logoColor=#000000"
  />
  &nbsp;
  <img
    src="https://img.shields.io/badge/Sequelize-52B0E7?style=flat&logo=Sequelize&logoColor=white"
  />
  &nbsp;
  <img
    src="https://img.shields.io/badge/MySQL-4479A1?style=flat&logo=MySQL&logoColor=white"
  />
  &nbsp;
  <img
    src="https://img.shields.io/badge/React-61DAFB?style=flat&logo=React&logoColor=white"
  />
  &nbsp;
</div>
<br />
<div>
  Now Learning..<br />
  <br />
  <img
    src="https://img.shields.io/badge/TypeScript-3178C6?style=flat&logo=typescript&logoColor=white"
  />
  &nbsp;
</div>

<!-- {% if paginator %} {% assign posts = paginator.posts %} {% else %} {% assign
posts = site.posts %} {% endif %} {% assign entries_layout = page.entries_layout
| default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %} {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %} -->
